.border{
    padding: 20px 0;
    background: rgba(245, 222, 179,0.2);
    border-radius: 10px;
}
.title{
    text-align: center;
    padding-bottom: 20px;
    font-size: 24px;
}
.input_box{
    width: 160px;
    padding: 10px;
    background: white;
    font-size: 16px;
    text-align: left;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.btn{
    font-size: 18px;
    padding: 10px 20px;
}
.kQua{
    width: 100%;
    height: 40px;
    color: red;
    padding: 10px;
    border-radius: 10px;
    background: #D1E7DD;
}
